<section class="main-menu">
  <div class= index-title>
  <h2>{{title}}</h2>
  <h3>Welcome {{user.username}}</h3>
  </div>
  {{#if user}}
  <div id="map"></div>
  {{else}}
  {{/if}}
</section>
<script>
    window.games = {{{ gameStr }}};
    window.user = {{{ userStr }}};
</script>
<script src="/javascripts/listMap.js"></script>
