<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRIT2iw6rPE6wpIGJK2jfCsKYmMcEXfUc"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
  <script src="/javascripts/createinfo.js"></script>
  <script src="/javascripts/geolocalize.js"></script>
  <script src="/javascripts/addGraph.js"></script>


</head>
<body>

  <header>
        <div class="logo"><a href="/"><img src="https://res.cloudinary.com/dvd0xwpmc/image/upload/v1538083815/img/logo.png" alt="Logo"></a></div>
        <nav class="menu">
            <ul class="menu-list">
                {{#if user}}
                <li><div>{{user.username}}</div><div> lv: {{user.level}}</div></li>
                {{/if}}
                <li><a href="/">Home</a></li>
                {{#if user}}
                <li><a href='/player/myprofile'>Profile</a></li>
                <li><a href='/player/mylist'>Games joined</a></li>
                
                <li><a href="/game/list">Games to join</a></li>
                <li><a href='/player/list'>Players</a></li>
                {{#if user.isHost}}
                <li><a href="/game/new">New game</a></li>
                <li><a href='/game/hostlist'>Hosting</a></li>
                {{else}}
                <li>
                  <form action="/" method="post">
                <input class="btn btn-warning" type="submit" name="" value="BECOME A HOST">
                </form>
                </li>
                {{/if}}
                {{else}}
                <li><a href='/auth/signup'>Sign Up</a></li>
                <li><a href='/auth/login'>Log In</a></li>
                {{/if}}
                {{#if user}}
                <li><a href='/auth/logout'>Log Out</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>
  {{{body}}}
  <footer>

    <h4><a href="https://www.linkedin.com/in/raulguiagarcia/">Raúl Guía</a>  & <a href="https://www.linkedin.com/in/david-leonardo-sirit-manzo/"> David Sirit</a></h4>
  </footer>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/addGraph.js"></script>
  <script src="/javascripts/script.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>