<section class="playerslist">
    {{#each players}}
    <div id="usersdiv">
      <img src="{{{this.photo}}}" alt="">
      <h2>{{this.username}}</h2>
      <h2>lv: {{this.level}}</h2>
      <a href="/player/myprofile/{{this._id}}">VIEW DETAILS</a>
      <a href="/review/{{this._id}}">REVIEW</a>
    </div>
    {{/each}}

</section>