<section>

  <h2>Edit Profile: {{{player.username}}}</h2>
  {{#if errorMessage}}
  <p class="error-message">

    {{ errorMessage }}
  </p>
  {{/if}}

  <div>
    <form action="/player/edituser" method="post">
    <div class="form-group">

      <p>Current User: </p>
      <label for="">New username: </label>
      <input type="text" name="username" value="{{player.username}}" class="form-control">
    </div>
<div class="form-group">

      <p>Current email: {{{player.email}}}</p>
      <label for="">New email: </label>
      <input type="email" name="email" value="{{player.email}}" class="form-control">
</div>
<div class="form-group">

      <p>Current password: ***** </p>
      <label for="">New password: </label>
      <input type="text" name="password" value="{{player.password}}" class="form-control"> 
</div>


      <button type="submit">EDIT {{player.username}}</button>
    </form>
  </div>


</section>