<section>
  <h2>Profile from user: {{{player.username}}}</h2>
  {{#if errorMessage}}
  <p class="error-message">
    {{ errorMessage }}
  </p>
  {{/if}}

  <div>
    <h2>User: {{{player.username}}}</h2>
    <h2>Email: {{{player.email}}} </h2>

    <h3>Stats:</h3>
    <ol>
      <li>
        <p>Total Games {{{player.totalGames}}}</p>
      </li>
      <li>
        <p>Valid Games {{{player.validGames}}}</p>
      </li>
      <li>
        <p>Player Level {{{player.level}}}</p>
      </li>
      <li>
        <p>Vision Level: {{{player.vision}}}</p>
      </li>
      <li>
        <p>Self COntrol: {{{player.selfControl}}}</p>
      </li>
      <li>
        <p>Courage: {{{player.courage}}}</p>
      </li>
      <li>
        <p>Sharp: {{{player.sharp}}}</p>
      </li>

    </ol>
  </div>



</section>