<section>
  <h2>User Profile: {{{player.username}}}</h2>
  {{#if errorMessage}}
  <p class="error-message">
    {{ errorMessage }}
  </p>
  {{/if}}
  <button class="btn btn-primary">
    <a href='/player/list'>View Players List</a>
  </button>
  <button class="btn btn-info">
    <a href='/player/graphuser'>Show my Stats</a>
  </button>
  <button class="btn btn-warning">
    <a href='/player/edituser'>Edit my Profile</a>
  </button>


  <div>
    <h3>User: {{{player.username}}}</h3>
    <p>Total Games {{{player.totalGames}}}</p>
    <p>Valid Games {{{player.validGames}}}</p>
    <p>Player Level {{{player.level}}}</p>
    {{!-- {{#each player.stats}} --}}
    <p>Vision Level: {{{player.vision}}}</p>
    <p>Self COntrol: {{{player.selfControl}}}</p>
    <p>Courage: {{{player.courage}}}</p>
    <p>Sharp: {{{player.sharp}}}</p>
    {{!-- {{/each}} --}}
  </div>




  <button> Log Out </button>
  {{!-- <div>
    <h3>My stats</h3>
    <canvas id="myChart" width="150px" height="150px"></canvas>
    <button class="btn btn-primary">
      <a href='/player/graphuser/{{player._id}}'>Want to campare?</a>
    </button>
  </div> --}}

</section>
{{!-- <script src="/javascripts/addGraph.js"></script> --}}